{% extends 'base.html' %}
{% block title %} Contact-Us {% endblock title %}


{% block body %}

 <!--    alert message start-->
  {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Hey {{user}}!</strong> {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    {% endfor %}
 <!--    alert message end start-->

 
<div class="container">
 <div class="h2 text-center p-3">Contact-Us</div> <hr>
<p>
  <h3>Team laCasaDeCalories</h3>
  <h5>Email : </h5>
    erdivyanshu.work@gmail.com
  <h5>Address: </h5>
    MNNIT ALLAHABAD,211004,UP<br></p>
    <div class="map-wrapper">
  <iframe class="googlemap"src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14405.563172400643!2d81.8639163!3d25.4920102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6690dd2de3a1415b!2sMotilal%20Nehru%20National%20Institute%20of%20Technology%2C%20Allahabad!5e0!3m2!1sen!2sin!4v1621372258495!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="fast" alt="Google-Map"></iframe>
    </div>
 </div>

<!--Contact-us form start here-->

 <div class="container p-3 mb-2 border">
     <div class="h2" align="center">
         Mail Your Query
     </div><hr>

 <form  method="post" action="/contact">
     {% csrf_token %}
     <div class="form-group">
      <label for="name">Full Name</label>
      <input type="text" class="form-control" id="name" placeholder="Your Name" name="name">
    </div>
    <div class="form-group">
      <label for="emailAddress">Email address</label>
      <input type="email" class="form-control" id="emailAddress" placeholder="name@example.com" name="email">
    </div>
    <div class="form-group">
      <label for="Query">Select Your Query</label>
      <select class="form-control" id="Query" name="need">
        <option selected>Select Anyone</option>
        <option>Issue in Site</option>
        <option>How we work?</option>
        <option>Others</option>
        
      </select>
    </div>
    <div class="form-group">
      <label for="YourQuery">Write Your Query</label>
      <textarea class="form-control" name="content" id="YourQuery" rows="3"placeholder="Write Your Text"></textarea>
    </div>
    <button class="btn btn-outline-primary">Submit</button>
  </form>

</div>

<!--Contact-us form end here-->

{% endblock body %}